.foo {
    &__bar {
        color: red;
    }

    &__zoo {
        color: blue;
    }

    & .boo {
        color: green;
    }
}

.foo:first-child {
    display: none;
}

@media (max-width: 600px) {
    .display-block {
        display: block;
    }

    .display-block\@sm {
        display: block;
    }

    .display-block\@sm\@sm2 {
         display: block;
    }
}
