/**
.super_hidden_class
    display: block
 */
// .class222{display: block;}
@keyframes sunrise
    0%
        bottom: 0
        left: 340px
        background: #f00

    33%
        bottom: 340px
        left: 340px
        background: #ffd630

    66%
        bottom: 340px/** .hiddenclass15:before{content:".hiddenclass20{display: block}"} /** {}dd*/
        left: 40px
        background: #ffd630

    100%
        bottom: 0
        left: 40px
        background: #f00

.class1
    display: block
    content: ".hiddenclass{display: block}"
    color: #cdd

.class2, .class3
    display: block
    color: #fff

#id
#id2
    display: block

input
    display: block
    opacity: 0.5
