.foo {
    &__bar {
        color: red;
    }

    &__zoo {
        color: blue;
    }

    & .boo {
        color: green;
    }
}

.foo:first-child {
    display: none;

    div {
        color: red;
    }

    span {
        color: red;
    }
}

.foo.foox {
    color: green;
}

div.foo.foox {
    color: green;
}

div.foo.fooy#fooz {
    color: green;
}

div.foo.fooy#fooz ~ .tilda + .plus > .children {
    color: yellow;
}

/*
div.foo1.fooy1#fooz1 ~ .tilda1 + .plus1 > .children1 {
    color: yellow;
}
*/

div.foo2.fooy2#fooz2~.tilda2+.plus2>.children2:last-child {
    color: yellow;
}

@media (max-width: 600px) {
    .display-block {
        display: block;
    }

    .display-block\@sm {
        display: block;
    }

    .display-block\@sm\@sm2 {
         display: block;
    }
}
